<% if(success && success.length){ %>
    <div class="row text-center">
        <div class="col-md-6 offset-3">
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        </div>
     
    </div>
    
<% } %>
